.navigation {
}

.link {
  color: rgb(146, 146, 146);
  font-size: 32px;
  transition: font-size 250ms ease;
}

.link:first-child {
  margin-right: 18px;
}

.link:hover,
.link:focus {
  font-size: 34px;
}

.active {
  color: #4fa94d;
}
