.header {
  width: 100vw;
  background-color: rgba(146, 146, 146, 0.7);
  padding: 8px 16px;
  box-shadow: 0px 14px 14px 1px rgba(0, 0, 0, 0.75);
  text-align: start;
}

.link {
  color: rgb(83, 82, 82);
  font-size: 32px;
  transition: text-shadow 250ms ease;
}

.link:first-child {
  margin-right: 32px;
}

.active {
  color: #419540;
  text-shadow: 2px 2px 0px #085f18, 5px 4px 0px rgba(0, 0, 0, 0.15);
}
